<h1>Admin Landing Page</h1>

<%= link_to 'Start a New Election', new_all_vote_path, data: { confirm: 'Are you sure? This will delete all current votes.' } %></p>
<%= link_to 'Complete a Voting Round', all_votes_complete_round_path, data: { confirm: 'Are you sure? This will reset all current votes, and advance to the next round.' } %></p>
<%= link_to 'Send Email Reminder to Non-Voters', static_pages_admin_home_path %></p>
<%= link_to 'Compose Message to All Users', static_pages_admin_home_path %></p>
=====

