<p data-comment='<%="#{comment.id}"%>'><%= comment.text %><br/>
Posted at <%= comment.created_at.to_s %> by <%= User.find(comment.user_id).email %>.
<% if comment.user == current_user %>
  <br/>
  <button>Delete</button>
<% end %>
</p>
